<section id="contact">
  <div class="row">
   <div class="contact valign-wrapper">
     <div class="contact-info center-align">
        <h3>GET IN TOUCH</h3>
        <p>if you have any question feel free to ask</p>
        <h4>
          <a href="mailto:vogdev@gmail.com" target="_top">vogdev@gmail.com</a>
        </h4>
     </div>
    </div>
  </div>
</section>