<div id="myLinks">
  <section>
    <div class="row">
     <div class="hero valign-wrapper">
      <div class="col s12 m12 center-align">
      <div class="info">
      <%= image_tag("SoufianeAKKi.jpg" , class: "circle responsive-img my-img") %>
         <h3>Frontend<span class="small">/</span>Backend Developer<span  class="small">&</span>Designer</h3>
         <h4>Hello, I'm <span>Soufiane Akki</span></h4>
         <p>Frontend / Backend Developer & Designer <br>
                focused on web trends and interactivity<br>
                Check out my <a href="#portoflio" class="portoflio-link">Portoflio</a>
         </p>
      </div>
      </div>
      </div>
    </div>
  </section>
</div>