<section id="portoflio">
  <div class="row">
   <div class="portoflio valign-wrapper">
    <div class="row container">
      <div class="portoflio-head">
        <h3 class="center-align portoflio-h3 ">PORTFOLIO</h3>
        <p class="divider"></p>
      </div>
        <%= react_component("Portfolios")%>
      </div>
    </div>
  </div>
</section>