<section id="social">
  <div class="row">
   <div class="social">
      <div class="col s12 m6 center-align ">
        <div class="dribbble valign-wrapper">
        <div class="social-info center-align">
         <%= image_tag("dribbble-logo.svg" , class: "dribbble-logo", alt: "dribbble-logo svg") %>
          <p>Want to see more?</p>
          <a href="https://dribbble.com/AkkiSoufiane" target="_blanck">
           <button class="btn purple darken-2" type="submit" name="action">/AkkiSoufiane
            <i class="material-icons right">launch</i>
          </button>
          </a>
        </div>
        </div>
      </div>
      <div class="col s12 m6 center-align">
        <div class="github valign-wrapper">
         <div class="social-info center-align">
         <%= image_tag("github-logo.svg" , class: "github-logo svg", alt: "github-logo svg") %>
            <p>Want to see code?</p>
            <a href="https://github.com/vogdev" target="_blanck">
             <button class="btn light-blue accent-4" type="submit" name="action"> @vogdev
              <i class="material-icons right">code</i>
            </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>