.container-wide {
    padding: 0 2em;
}
nav {
    color: #fff;
    background-color: rgba(100, 53, 157, 0.41);
    width: 100%;
    box-shadow: none;
    transition: 0.4s all linear;
}
nav .nav-wrapper {
    position: relative;
    height: 100%;
    border-top: 1px solid #56349c;
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px; 
}
.change-color {
    background-color: #56349c;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}
.hero{
    height: 100vh;
    background: url(header-bg.jpeg) no-repeat center center fixed; 
    background-color: #4e2f97;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -64px;
    margin-bottom: 30px;
}
.hero .my-img {
    width: 190px;
}
#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 900;
    will-change: opacity;
}
.info {
    color: #FFFFFF;
}
.info span{
    color: #2ec6d1;
}
.small{
    color: #2ec6d1;
    font-weight: 200;
}
.portoflio-link{
    text-decoration: underline;
    font-weight: bold;
    color: #2ec6d1;
}
.portoflio {
    background-color: #fcfcfc;
    margin-top: -20px;
    padding-top: 50px;
    margin-bottom: 50px;
}
.portoflio-h3 {
    margin-bottom: 0px;
}
.portoflio-head {
    margin-bottom: 60px;
}
.divider {
    margin: 0 auto;
    height: 3px;
    width: 240px;
    overflow: hidden;
    background-color: #2ec6d1;
}
.card {
    max-width: 400px;
    position: relative;
    margin: 20px auto;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}
.card .card-image {
    position: relative;
    cursor: pointer;
}

.social{
    color: #FFFFFF;
}
.social .col.m6{
  padding: 0;
}
.social-info{
    width: 100%;
}
.dribbble-logo {
    width: 260px;
}
.github-logo {
    width: 260px;
    height: 80px;
    fill: #FFFFFF;
}
/*#social .row{
    height: 300px;
}*/
.dribbble{
    height: 300px;
    background: url(dribbble.jpg) no-repeat center center ; 
    background-color: #e6297b;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.github{
    height: 300px;
    background: url(git.jpg) no-repeat center center ; 
    background-color: #000000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.contact{
    height: 400px;
    background-color: #001f3b;
    background: #7db9e8;
    background: -moz-linear-gradient(45deg, #7db9e8 0%, #56349c 0%, #28a5b3 100%);
    background: -webkit-linear-gradient(45deg, #7db9e8 0%,#56349c 0%,#28a5b3 100%);
    background: linear-gradient(45deg, #7db9e8 0%,#56349c 0%,#00eae8 100%);
}
.contact-info{
    color: #FFFFFF;
    width: 100%;
}
.contact-info a{
    color: #FFFFFF;
}
.contact-info h2{
  margin-top: 0;
}
.landscape-info {margin-top: 60px; color: #FFFFFF; }
.landscape-img{ width: 130px; }
.landscape-h3 { font-size: 2rem; line-height: 110%; margin: 0; }
.landscape-h4 { font-size: 2rem; line-height: 110%; margin: 0; }
.modal {
  max-height: 100%;
  // width: 100%;
  bottom: 0;
  overflow: auto;
  top: 0 !important;
}
.modalImage {
    min-width: 100%;
}
.modal ul {
    display: flex;
    align-items: flex-end;
}
.modal .lead{
    font-size: 17px;
    font-weight: 600;
    text-decoration: underline;
}
.modal .title {
    color: #56349c;
    text-align: center;
}
.modal li {
    flex: 1;
}

.btn-floating.halfway-fab {
    position: absolute;
    right: 24px;
    bottom: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    background-color: #56349c;
}
.blurd{ 
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.fa-arrow-left:before {
    color: #797979;
}
.close-container{
    display: none;
} 
@media (max-width: 640px) {
    nav .button-collapse {
      float: left;
      position: relative;
      z-index: 1;
      height: 56px;
      padding-left: 10px;
    }
    .container-wide{
        padding: 0;
    }
    .hero {
        height: 101vh;
    }
    h3 {
        font-size: 7.5vw;
        line-height: 110%;
        margin: 0;
    }
    h4 {
        font-size: 1.5rem;
        line-height: 110%;
        margin: 1.14rem 0 .912rem 0;
    }
    .side-nav {
        width: 75vw;
    }
    .modal {
        max-height: 100%;
        bottom: 0;
        width: 100%;
        overflow: auto;
        top: 0 !important;
    }
    .container {
        margin: 0 auto;
        max-width: 1280px;
        width: 100%;
    }
    .row .col {
        float: left;
        box-sizing: border-box;
        padding: 0;
        min-height: 1px;
    }
    .close-container{
        display: block;
        width: 100%;
        height: 50px;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    } 
    .close-container i {
        color: white;
        position: absolute;
        right: 5px;
        top: 10px;
        font-size: 24px;
        height: 40px;
        width: 40px;
        cursor: pointer;
    }
    .card .card-image .card-title {
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 100%;
        padding: 4px;
        font-size: 17px;
    }
}
